# The _auth value is the base64 value of the measmerize credentials, specified under the tools/verdaccio-htpasswd file.
# Uses 127.0.0.1 (instead of localhost) to avoid being converted to ::1, if served on an IPv6 machine.
@spartacus:registry=http://127.0.0.1:4873/
//127.0.0.1:4873/:_auth="testtest"
